<div class="container row">
    <p style="width: 100%;
    /* background: blue; */
    margin-right: 10px;
    padding: 15px;
    margin-left: 0px;
    font-weight: 700;
    font-size: 20px;"> Assign a new function </p> <br/> <br/>
    <div class="row">

        <div class="col-sm-4">
            <mat-form-field>
                <mat-label>Select Function</mat-label>
                <mat-select [(ngModel)]="selectedfunction" (selectionChange)="change()">
                    <mat-option *ngFor="let option of staticFunctions" [(value)]="option.functionid">
                        {{option.functionname}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field>
                <mat-label>{{lowtext}}</mat-label>
                <input [disabled]="selectedfunction === '0'" type="number" step="1" matInput placeholder="Enter the value here" [(ngModel)]="text1">
            </mat-form-field>
        </div>
        <div class="col-sm-4">
            <mat-form-field>
                <mat-label>{{hightext}}</mat-label>
                <input [disabled]="selectedfunction === '0'" type="number" step="1" placeholder="Enter the value here" matInput [(ngModel)]="text2">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button class="btn-first" mat-button (click)="save()">Assign Function</button>
        </div>
    </div>


</div>