

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">



        <!-- Content Wrapper -->
        <div id="content-wrapper" style="background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20201015/pngtree-abstract-low-poly-silver-background-image_419419.jpg');">

            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    
                    <!-- Page Heading -->
                    <div class="row">
                        

                        <div class="col-xs-5 col-md-5 col-lg-5">
                            <!-- <span *ngIf="selectedsensordata.status === 'Offline'" style=" height:20px; width:20px; background-color: #bbb; border-radius: 50%; display:inline-block; margin-right: 5px;">
                                &nbsp;
                            </span>
                            <span *ngIf="selectedsensordata.status !== 'Offline'" style=" height:20px; width:20px; background-color: green; border-radius: 50%; display:inline-block; margin-right: 5px;">
                                &nbsp;
                            </span> -->
                            <span style="font-size: 16px !important;padding-top:23px;">{{selectedsensordata.status|date:'medium'}}</span>
                        </div>

                        <div class="col-xs-5 col-md-5 col-lg-5">
                            <span class="material-icons">
                                download_for_offline
                            </span>
                            
                            <p style="margin-top: -30px;margin-left: 30px;font-size: 18px;" (click)="export(selectedsensordata)">
                                
                                Download Data
                            </p>
                                
                        </div>


                        <div class="col-xs-2 col-md-2 col-lg-2">
                            <div class="d-sm-flex align-items-center justify-content-between mb-4" style="float:left;">

                                <a (click)="switch()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
										class="fas fa-download fa-sm text-white-50"></i> Relay Switch</a>
                            </div>
                        </div>
                    </div>

                    <br>

                    <!-- Content Row -->
                    <div class="row">
                        <div class="col-lg-12 ">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary" style="font-size: 20px !important;">Sensor Dashboard for {{selectedsensor}}</h6>
                                </div>
                                <div class="card-body">







                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card border-left-primary ">
                                                <div class="card-body display-card">
                                                    <div class="row">
                                                        <div class="col-xs-6 col-md-6 col-lg-6">
                                                            <rg-gauge-chart [canvasWidth]="canvasWidth" [needleValue]="needleValue" [centralLabel]="centralLabel1" [options]="options1" [name]="name" [bottomLabel]="bottomLabel1"></rg-gauge-chart>
                                                        </div>

                                                        <div class="col-xs-3 col-md-3 col-lg-3 text-xs font-weight-bold text-primary text-uppercase custom-card text-center" style="font-size: 16px !important;">
                                                            <img class="display-card-icon" src="https://cdn-icons-png.flaticon.com/512/3601/3601002.png" /><br/><br/>
                                                            <br><p class="max-min">Unit</p>
                                                            <select #unit1 class="form-select" aria-label=".form-select-lg example" (change)="onSelectUnit(1,unit1.value)">
                                                                <option value="" [attr.selected]="c1==''?true:null"></option>
                                                                <option value="c" [attr.selected]="c1=='c'?true:null">&deg;C</option>
                                                                <option value="cm" [attr.selected]="c1=='cm'?true:null">cm</option>
                                                                <option value="kv" [attr.selected]="c1=='kv'?true:null">KV</option>
                                                            </select>
                                                            
                                                            <!-- <p class="max-min">Max : 50 &deg;C</p>
                                                            <p class="max-min">Min : 0 &deg;C</p> -->
                                                        </div>

                                                        <div class="col-xs-3 col-md-3 col-lg-3 text-xs font-weight-bold text-primary text-uppercase custom-card text-center" style="font-size: 16px !important;">
                                                            <h1 class="display-card-reading">{{selectedsensordata.datext}}{{cv1}}</h1> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="card border-left-warning shadow h-100 py-2">
                                                <div class="card-body display-card">
                                                    <div class="row">

                                                        <div class="col-xs-6 col-md-6 col-lg-6" style="font-weight: bold;">
                                                            <rg-gauge-chart [canvasWidth]="canvasWidth" [needleValue]="needleValue" [centralLabel]="centralLabel2" [options]="options2" [name]="name" [bottomLabel]="bottomLabel2"></rg-gauge-chart>
                                                        </div>

                                                        <div class="col-xs-3 col-md-3 col-lg-3 text-xs font-weight-bold text-primary text-uppercase custom-card text-center" style="font-size: 16px !important;">
                                                            {{selectedsensordata.dbtext}} <img class="display-card-icon" src="https://cdn-icons-png.freepik.com/512/3601/3601634.png" /><br/><br/>
                                                            <br><p class="max-min">Unit</p>
                                                            <select #unit2 class="form-select" aria-label=".form-select-lg example" (change)="onSelectUnit(2,unit2.value)">
                                                                <option value="" [attr.selected]="c2==''?true:null"></option>
                                                                <option value="c" [attr.selected]="c2=='c'?true:null">&deg;C</option>
                                                                <option value="cm" [attr.selected]="c2=='cm'?true:null">cm</option>
                                                                <option value="kv" [attr.selected]="c2=='kv'?true:null">KV</option>
                                                            </select>
                                                        </div>

                                                        <div class="col-xs-3 col-md-3 col-lg-3 text-xs font-weight-bold text-primary text-uppercase custom-card" style="font-size: 16px !important;">
                                                            <h1 class="display-card-reading">{{cv2}}</h1> 
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br><br>
                                    

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card border-left-success shadow h-100 py-2">
                                                <div class="card-body display-card">
                                                    <div class="row">
                                                        <div class="col-xs-6 col-md-6 col-lg-6" style="font-weight: bold;">
                                                            <rg-gauge-chart class="chart-custom" [canvasWidth]="canvasWidth" [needleValue]="needleValue" [centralLabel]="centralLabel3" [options]="options3" [name]="name" [bottomLabel]="bottomLabel3"></rg-gauge-chart>
                                                        </div>

                                                        <div class="col-xs-3 col-md-3 col-lg- text-xs font-weight-bold text-primary text-uppercase custom-card  text-center" style="font-size: 17px !important;">
                                                            {{selectedsensordata.dctext}} <img class="display-card-icon" src="https://cdn-icons-png.freepik.com/512/3601/3601637.png" /><br/><br/>
                                                            <br><p class="max-min">Unit</p>
                                                            <select #unit3 class="form-select" aria-label=".form-select-lg example" (change)="onSelectUnit(3,unit3.value)">
                                                                <option value="" [attr.selected]="c3==''?true:null"></option>
                                                                <option value="c" [attr.selected]="c3=='c'?true:null">&deg;C</option>
                                                                <option value="cm" [attr.selected]="c3=='cm'?true:null">cm</option>
                                                                <option value="kv" [attr.selected]="c3=='kv'?true:null">KV</option>
                                                            </select>
                                                        </div>

                                                        <div class="col-xs-3 col-md-3 col-lg-3 text-xs font-weight-bold text-primary text-uppercase custom-card" style="font-size: 16px !important;">
                                                            <h1 class="display-card-reading">{{cv3}}</h1> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="card border-left-danger shadow h-100 py-2">
                                                <div class="card-body display-card">
                                                    <div class="row">
                                                        <div class="col-xs-6 col-md-6 col-lg-6" style="font-weight: bold;">
                                                            <rg-gauge-chart class="chart-custom" [canvasWidth]="canvasWidth" [needleValue]="needleValue" [centralLabel]="centralLabel4" [options]="options4" [name]="name" [bottomLabel]="bottomLabel4"></rg-gauge-chart>
                                                        </div>

                                                        <div class="col-xs-3 col-md-3 col-lg-3 text-xs font-weight-bold text-primary text-uppercase custom-card text-center" style="font-size: 17px !important;">
                                                            {{selectedsensordata.dctext}} <img class="display-card-icon" src="https://cdn-icons-png.flaticon.com/512/3840/3840753.png" /><br/><br/>
                                                            <br><p class="max-min">Unit</p>
                                                            <select #unit4 class="form-select" aria-label=".form-select-lg example" (change)="onSelectUnit(4,unit4.value)">
                                                                <option value="" [attr.selected]="c4==''?true:null"></option>
                                                                <option value="c" [attr.selected]="c4=='c'?true:null">&deg;C</option>
                                                                <option value="cm" [attr.selected]="c4=='cm'?true:null">cm</option>
                                                                <option value="kv" [attr.selected]="c4=='kv'?true:null">KV</option>
                                                            </select>
                                                        </div>

                                                        <div class="col-xs-3 col-md-3 col-lg-3 text-xs font-weight-bold text-primary text-uppercase custom-card" style="font-size: 16px !important;">
                                                            <h1 class="display-card-reading">{{cv4}}</h1> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br><br>




                                </div>
                            </div>
                        </div>


                        <!-- Content Row -->

                        
                    </div>

                    <!-- Content Row -->
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <!-- <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer> -->
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

</body>

