<div class="container" style="padding: 0px;">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="avatar-image-partyhead"></div>
            <mat-card-title>User Details</mat-card-title>
            <mat-card-subtitle>Add users, Add Update & Delete Sensors Here.</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <button style="margin-right: 20px" mat-stroked-button (click)="adduser()">Create New User</button>
    <button style="margin-right: 20px" mat-stroked-button (click)="addhub()">Create New Hub</button>

    <mat-form-field class="mid">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search User">
    </mat-form-field>
    <mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef mat-sort-header> UserName </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="hub">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Hub </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p class="add-new" *ngIf="!row.hub"><span (click)="adduserhub(row)" style="cursor: pointer;font-size: 15px"><img height="30" src="https://w7.pngwing.com/pngs/292/680/png-transparent-add-person-add-person-icon-thumbnail.png"/></span> </p>
                <span *ngIf="row.hub"> {{row.hub}} </span> </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="sensor1">

            <mat-header-cell *matHeaderCellDef mat-sort-header> Sensor 1 </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p class="add-new" *ngIf="!row.sensor1"><span (click)="addusersensor(row)" style="cursor: pointer;font-size: 15px"><img height="30" src="https://w7.pngwing.com/pngs/292/680/png-transparent-add-person-add-person-icon-thumbnail.png"/></span></p>
                <span class="value-class" *ngIf="row.sensor1 && row.hub">{{row.sensor1}}
                  <span style="margin-left: 10px; margin-right: 5px; cursor: pointer; font-size: 14px !important;" (click)="editusersensor(row, row.sensor1)" class="material-icons">
                    create
                </span>
                <span style=" margin-right: 10px; cursor: pointer;font-size: 14px !important;" (click)="deleteusersensor(row, row.sensor1)" class="material-icons">
                  | delete
                </span>
                </span>
            </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="sensor2">

            <mat-header-cell *matHeaderCellDef mat-sort-header> Sensor 2 </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p class="add-new" *ngIf="!row.sensor2"><span (click)="addusersensor(row)" style="cursor: pointer;font-size: 15px"><img height="30" src="https://w7.pngwing.com/pngs/292/680/png-transparent-add-person-add-person-icon-thumbnail.png"/></span> </p>
                <span class="value-class" *ngIf="row.sensor2 && row.hub"> {{row.sensor2}}
                  <span style="margin-left: 10px; margin-right: 5px; cursor: pointer; font-size: 14px !important;" (click)="editusersensor(row, row.sensor2)" class="material-icons">
                    create
                </span>
                <span style=" margin-right: 10px; cursor: pointer;font-size: 14px !important;" (click)="deleteusersensor(row, row.sensor2)" class="material-icons">
                  | delete
                </span></span>
            </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="sensor3">

            <mat-header-cell *matHeaderCellDef mat-sort-header> Sensor 3 </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p class="add-new" *ngIf="!row.sensor3"> <span (click)="addusersensor(row)" style="cursor: pointer;font-size: 15px"><img height="30" src="https://w7.pngwing.com/pngs/292/680/png-transparent-add-person-add-person-icon-thumbnail.png"/></span> </p>
                <span class="value-class" *ngIf="row.sensor3 && row.hub"> {{row.sensor3}}
                  <span style="margin-left: 10px; margin-right: 5px; cursor: pointer; font-size: 14px !important;" (click)="editusersensor(row, row.sensor3)" class="material-icons">
                    create
                </span>
                <span style=" margin-right: 10px; cursor: pointer;font-size: 14px !important;" (click)="deleteusersensor(row, row.sensor3)" class="material-icons">
                  | delete
                </span> </span>
            </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="sensor4">

            <mat-header-cell *matHeaderCellDef mat-sort-header> Sensor 4 </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p class="add-new" *ngIf="!row.sensor4"> <span (click)="addusersensor(row)" style="cursor: pointer;font-size: 15px"><img height="30" src="https://w7.pngwing.com/pngs/292/680/png-transparent-add-person-add-person-icon-thumbnail.png"/></span> </p>
                <span class="value-class" *ngIf="row.sensor4 && row.hub"> {{row.sensor4}} 
                  <span style="margin-left: 10px; margin-right: 5px; cursor: pointer; font-size: 14px !important;" (click)="editusersensor(row, row.sensor4)" class="material-icons">
                    create
                </span>
                <span style=" margin-right: 10px; cursor: pointer;font-size: 14px !important;" (click)="deleteusersensor(row, row.sensor4)" class="material-icons">
                  | delete
                </span>
                </span>
            </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="sensor5">

            <mat-header-cell *matHeaderCellDef mat-sort-header> Sensor 5 </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p class="add-new" *ngIf="!row.sensor5"> <span (click)="addusersensor(row)" style="cursor: pointer;font-size: 15px"><img height="30" src="https://w7.pngwing.com/pngs/292/680/png-transparent-add-person-add-person-icon-thumbnail.png"/></span> </p>
                <span class="value-class" *ngIf="row.sensor5 && row.hub">
                   {{row.sensor5}} 
                   <span style="margin-left: 10px; margin-right: 5px; cursor: pointer; font-size: 14px !important;" (click)="editusersensor(row, row.sensor5)" class="material-icons">
                    create
                </span>
                <span style=" margin-right: 10px; cursor: pointer;font-size: 14px !important;" (click)="deleteusersensor(row, row.sensor5)" class="material-icons">
                  | delete
                </span>
                </span>
            </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="sensor6">

            <mat-header-cell *matHeaderCellDef mat-sort-header> Sensor 6 </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <p class="add-new" *ngIf="!row.sensor6"> <span (click)="addusersensor(row)" style="cursor: pointer;font-size: 15px"><img height="30" src="https://w7.pngwing.com/pngs/292/680/png-transparent-add-person-add-person-icon-thumbnail.png"/></span> </p>
                <span class="value-class" *ngIf="row.sensor6 && row.hub">
                   {{row.sensor6}} 
                   <span style="margin-left: 10px; margin-right: 5px; cursor: pointer; font-size: 14px !important;" (click)="editusersensor(row, row.sensor6)" class="material-icons">
                    create
                </span>
                <span style=" margin-right: 10px; cursor: pointer;font-size: 14px !important;" (click)="deleteusersensor(row, row.sensor6)" class="material-icons">
                  | delete
                </span>
                </span>

            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


</div>