.switch-p {
    font-size: 14px;
    font-weight: 500;
    background: #323f58;
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 10px !important;
    text-align: center;
    color:white;
}

.custom-dialog-container .mat-dialog-container {
    width: 70% !important;
}

.sensor-p {
    font-size: 14px;
    font-weight: 500;
    background: #91ccff;
    padding: 20px;
    height: 30%;
    margin: 23px;
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 30px !important;
    align-items: center;
}

.sensor-box {
    background: #f1f1c2;
    width: 35%;
    border: 2px solid #f1f1c2;
    margin-right: 10px;
}

.card-title {
    background: white;
    padding: 10px;
    color: #323f58 !important;
    font-weight: 700;
}