.switch-p {
    font-size: 14px;
    font-weight: 500;
    background: #323f58;
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 10px !important;
    text-align: center;
    color: white;
}

.custom-dialog-container .mat-dialog-container {
    width: 70% !important;
}

.sensor-p {
    font-size: 14px;
    font-weight: 500;
    background: #91ccff;
    padding: 20px;
    height: 30%;
    margin: 23px;
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 30px !important;
    align-items: center;
}

.sensor-box {
    background: #f1f1c2;
    width: 35%;
    border: 2px solid #f1f1c2;
    margin-right: 10px;
}

.card-title {
    background: white;
    padding: 10px;
    color: #323f58 !important;
    font-weight: 700;
}

.onoffswitch {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 0px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: -9px;
    bottom: 0;
    right: 56px;
    border: 2px solid #999999;
    border-radius: 0px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
}