<div class="loading-screen-wrapper" *ngIf="loading">
    <div class="loading-screen-icon">
        Loading...
    </div>
</div>
<div class="container row" style="min-width: 650px !important;">
    <!-- <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="avatar-image-partyhead"></div>
            <mat-card-title>Sens</mat-card-title>
            <mat-card-subtitle>Add, Update, Delete and View the Party Heads Here.</mat-card-subtitle>
          </mat-card-header>
        </mat-card> -->
    <!-- <button *ngIf="partyrole === '1'" mat-stroked-button>Create New Party Head</button> -->

    <!-- <mat-form-field class="mid">
                <input matInput placeholder="Search Party Head">
              </mat-form-field> -->
    <!--  -->
    <div class="row" style="width: 100%">
        <form>
            <mat-form-field style="margin-right: 40px;">
                <mat-label>From Date</mat-label>
                <input type="date" name="from" matInput [(ngModel)]="from">
            </mat-form-field>


            <mat-form-field style="margin-right: 40px;">
                <mat-label>To Date</mat-label>
                <input type="date" name="to" matInput [(ngModel)]="to">
            </mat-form-field>

            <br><br>
            <button class="btn-first" mat-button (click)="save()">Generate Report</button>
        </form>
    </div>

</div>