<div class="loading-screen-wrapper" *ngIf="loading">
  <div class="loading-screen-icon">
    Loading...
  </div>
</div>
        <div class="container row" style="min-width: 1400px !important;">
        <!-- <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="avatar-image-partyhead"></div>
            <mat-card-title>Sens</mat-card-title>
            <mat-card-subtitle>Add, Update, Delete and View the Party Heads Here.</mat-card-subtitle>
          </mat-card-header>
        </mat-card> -->
            <!-- <button *ngIf="partyrole === '1'" mat-stroked-button>Create New Party Head</button> -->

            <!-- <mat-form-field class="mid">
                <input matInput placeholder="Search Party Head">
              </mat-form-field> -->
              <!--  -->
        <div class="row" style="width: 100%">
          <form [formGroup]="firstFormGroup">
          <mat-form-field style="width: 25%; margin-right: 10px;">
            <mat-label>Select from the list or type in to add a new zone</mat-label>
            <input matInput placeholder="Enter the zone here" [matAutocomplete]="autoreport" [(ngModel)]="adzone" formControlName="ZoneControl">
            <mat-autocomplete #autoreport="matAutocomplete" (optionSelected)="searchhub()">
              <mat-option *ngFor="let option of filteredOptionsZone | async" [value]="option" >
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field> 

          <mat-form-field *ngIf="adzone" style="width: 25%; margin-right: 10px;">
            <mat-label>Select from the list or type in to add a new hub</mat-label>
            <input matInput placeholder="Enter the hub here" [matAutocomplete]="autohub" [(ngModel)]="adhub" formControlName="HubControl">
            <mat-autocomplete #autohub="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptionsHub | async" [value]="option" >
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field> 

          <mat-form-field *ngIf="adzone && adhub" style="width: 25%; margin-right: 10px;">
            <mat-label>Add Sensor</mat-label>
            <input formControlName="SensorControl" matInput placeholder="Enter the sensor here" [(ngModel)]="adsensor">
          </mat-form-field> 
          <button class="btn-first"  mat-button (click)="save()">Add Sensor Data</button>
          </form>
        </div>

        </div>
