<div class="container-fluid page-body-wrapper">
    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <div class="home-tab">
                        <div class="tab-content tab-content-basic">
                            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                                <div class="row">
                                    <div class="row col-xl-12 card border-left-primary shadow h-100 py-2">

                                        <div class="card-header">
                                            <h6 style="font-size: 20px;" class="m-0 font-weight-bold text-primary">Switch Card
                                                <span (click)="goback()" style="padding: 5px !important; border: 1px dotted !important;
                                                 margin-left: 10px;
                                                    background: #eeeeee !important;
                                                    font-weight: 500 !important;
                                                    cursor: pointer !important;
                                                    border-radius: 10px !important; font-size: 16px !important;">Back</span></h6>

                                        </div>
                                        <div class="row card-body">
                                            <br>
                                            <!-- Earnings (Monthly) Card Example -->
                                            <div class="col-xl-2 col-md-2 mb-2" *ngFor="let switch of switchData" style="height: 150px !important;">


                                                <div *ngIf="switch.physicalstatus === '1'" style="border-left: 0.50rem solid green!important; align-items: center;" class="card border-left-primary shadow h-100 py-2">
                                                    <div class="card-body">
                                                        <div class="col-xs-12 text-xs font-weight-bold text-primary text-uppercase mb-1 custom-card">
                                                            <input type="text" style="background: none;opacity:100 !important;width: auto !important;
                                                                        border: none;
                                                                        
                                                                        text-align: center;
                                                                        color: black;
                                                                        font-family: Arial, Helvetica, sans-serif;
                                                                        margin-bottom: 10px;
                                                                        margin-top: 10px;
                                                                        
                                                                        font-size: 14px;" [(ngModel)]="switch.name" (blur)="saveswitchname(switch)" />

                                                            <div class="row">
                                                                <div class="toggle normal">
                                                                    <input class="input-switch normal" [attr.id]="switch.switchid" [(ngModel)]="switch.statusbool" (change)="changed(switch)" type="checkbox" />
                                                                    <label class="toggle-item" [attr.for]="switch.switchid"></label>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-xs-6">
                                                                    <p style="word-break: normal; width:75%; margin-left: 10px !important;">{{switch.functionname}}</p>
                                                                </div>

                                                                <div class="col-xs-6" style="padding-left:3%;">
                                                                    <p>{{switch.lowval}}<span style="font-size: 10px !IMPORTANT; margin-left: 2px;" class="material-icons">south</span> <br/> {{switch.highval}}
                                                                        <span style="font-size: 10px !IMPORTANT; margin-left: 2px;" class="material-icons">north</span></p>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div *ngIf="switch.physicalstatus === '0'" style="border-left: 0.50rem solid red!important; align-items: center;" class="card border-left-primary shadow h-100 py-2">
                                                    <div class="card-body">
                                                        <div class="col-xs-12 text-xs font-weight-bold text-primary text-uppercase mb-1 custom-card">
                                                            <input type="text" style="background: none; opacity:100 !important;width: auto !important;
                                                                        border: none;
                                                                        text-align: center;
                                                                        color: black;
                                                                        font-family: Arial, Helvetica, sans-serif;
                                                                        margin-bottom: 10px;
                                                                        margin-top: 10px;
                                                                        
                                                                        font-size: 14px;" [(ngModel)]="switch.name" (blur)="saveswitchname(switch)" />

                                                            <div class="row">

                                                                <div class="toggle normal">
                                                                    <input class="input-switch normal" [attr.id]="switch.switchid" [(ngModel)]="switch.statusbool" (change)="changed(switch)" type="checkbox" />
                                                                    <label class="toggle-item" [attr.for]="switch.switchid"></label>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="col-xs-6">
                                                                    <p style="word-break: normal; width:75%; margin-left: 10px !important;">{{switch.functionname}}</p>
                                                                </div>

                                                                <div class="col-xs-6" style="padding-left:4%;">
                                                                    <p>{{switch.lowval}}<span style="font-size: 10px !IMPORTANT; margin-left: 10% !important" class="material-icons">south</span><br/>{{switch.highval}}
                                                                        <span style="font-size: 10px !IMPORTANT; margin-left: 2px;" class="material-icons">north</span></p>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>





                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main-panel ends -->
</div>