
<mat-toolbar *ngIf="pagerefresh == '1'" color="primary" class="example-toolbar">
	<button mat-icon-button (click)="close()"><mat-icon>menu</mat-icon></button>
	<h1 class="example-app-name">IOT Web</h1>

	<span fxFlex></span>
	<span (click)="addnew()" style="cursor: pointer;font-size: 15px"><img height="30" src="../../../assets/img/add.png"/></span>
 	<button mat-icon-button *ngIf="pagerefresh == '1'" [matMenuTriggerFor]="dropdownMenu">
  	  <mat-icon>more_vert</mat-icon>
  	</button>

</mat-toolbar>
<mat-sidenav-container [ngClass]="pagerefresh == '1' ? 'example-container-loggedin' : 'example-container'" autosize  style="cursor: pointer !important;">
	 <mat-sidenav *ngIf="pagerefresh == '1'" #sidenav class="example-sidenav" mode="side" opened="true" >
		<!-- <div class="loading-screen-wrapper" *ngIf="loading">
			<div class="loading-screen-icon">
			  Loading...
			</div>
		  </div> --> <!-- *ngIf="showZoneMenu[row.zone]" *ngIf="showHubMenu[rowhub.hub]"  -->
		<mat-nav-list *ngIf="isAvailable">
			 <div *ngFor="let row of zones">
				<mat-list-item (click)="openzone(row.id)" class="parent">
					<span class="full-width" > {{row.zone}} &nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp; </span>
					<mat-icon mat-list-icon>explore</mat-icon>
					<mat-icon class="menu-button" [ngClass]="{'rotated' : showZoneMenu[row.id]}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
				</mat-list-item>
				<div *ngIf="showZoneMenu[row.id]">
					<div *ngFor="let rowhub of row.hubs"  class="submenu" [ngClass]="{'expanded' : showZoneMenu[row.id]}">
						<mat-list-item (click)="openhub(rowhub.id)" class="parent">
							<span class="full-width" *ngIf="isExpanded || isShowing"> {{rowhub.hub}} &nbsp;&nbsp;&nbsp;&nbsp;
								&nbsp;&nbsp;&nbsp;&nbsp; </span>
							<mat-icon mat-list-icon>device_hub</mat-icon>
							<mat-icon class="menu-button" [ngClass]="{'rotated' : showHubMenu[rowhub.id]}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
						</mat-list-item>
						<div *ngIf="showHubMenu[rowhub.id]">
							<div class="submenu" [ngClass]="{'expanded' : showHubMenu[rowhub.id]}" *ngFor="let rowSensor of rowhub.sensors">
								<a mat-list-item> <mat-icon mat-list-icon>devices_other</mat-icon> {{rowSensor}}</a>
							</div>
						</div>
					</div>
				</div>
			</div> 

		</mat-nav-list>
		<div  *ngIf="!isAvailable">
			<span (click)="addnew()" style="cursor: pointer;font-size: 15px"><img height="30" src="../../../assets/img/add.png"/>&nbsp; Add Zone</span>
		</div>
    
	</mat-sidenav> 

	<div [ngClass]="pagerefresh == '1' ? 'example-sidenav-content' : 'example-sidenav-content-anonymous'">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>



<mat-menu #dropdownMenu x-position="before">
	<a mat-menu-item href="" (click)="onLogout()">
	  <mat-icon>exit_to_app</mat-icon>
	  <span>Logout</span>
	</a>
	<a *ngIf="userrole === 'ibcabs'" mat-menu-item (click)="createuser()">
		<mat-icon>person_add</mat-icon>
		<span>Create New User</span>
	  </a>
	  <a *ngIf="userrole === 'ibcabs'" mat-menu-item (click)="userrights()">
		<mat-icon>settings_applications</mat-icon>
		<span>Give User RIghts</span>
	  </a>
	<a mat-menu-item href="" routerLink="/">
	  <mat-icon>info_outline</mat-icon>
	  <span>About</span>
	</a>
  </mat-menu>