/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap4-toggle/css/bootstrap4-toggle.min.css";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}